.card-image-top {
  height: 10% !important;
  width: 10% !important;
  /*object-fit: cover;*/
}

.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}